<div class="modal fade"
     id="teamMemberModal"
     tabindex="-1"
     aria-labelledby="teamMemberModalLabel"
     aria-hidden="true"
     data-initial-team="{{ initialTeam ? initialTeam.id : '' }}"
     data-initial-person="{{ initialPerson ? initialPerson.id : '' }}"
     data-team-member-id="{{ teamMember.id ? teamMember.id : '' }}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teamMemberModalLabel">
                    {{ teamMember.id ? 'Edit Team Member Id: ' ~ teamMember.id : 'Create Team Member' }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            {{ form_start(form, {
                'action': teamMember.id ? path('team_member_edit', {'id': teamMember.id}) : path('team_member_new')
            }) }}
            <div class="modal-body">
                {{ form_widget(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
