<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">
                    {{ event.id ? 'Edit Event Id: ' ~ event.id : 'Create Event' }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            {{ form_start(form, {
                'action': event.id ? path('event_edit', {'id': event.id}) : path('event_new')
            }) }}
            <div class="modal-body">
                <div class="mb-3">
                    {{ form_label(form.sport) }}
                    {{ form_widget(form.sport) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.competition) }}
                    {{ form_widget(form.competition, {
                        'attr': {
                            'data-url': path('event_by_competition', {'competitionId': 'COMPETITION_ID'}),
                        }
                    }) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.orderIndex) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.name) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
