{% extends 'base.html.twig' %}

{% block title %}Start{% endblock %}

{% block body %}
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Hello,</h1>
            <h1 class="fw-light">Start with sport</h1>
            <p>
                <select id="sport-select" class="form-select form-select-lg mb-3" aria-label="Large select example">
                    <option hidden >Select sport</option>
                    {% for sport in sports %}
                        <option value="{{ sport.id }}">{{ sport.name }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <a class="btn btn-primary" href="{{ path('sport_index') }}">Create New Sport</a>
            </p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('home/index.js') }}"></script>
{% endblock %}
