{% block checkbox_row %}
    <div class="mb-3">
        {{ form_label(form) }}

        <div class="form-check form-switch mt-2">
            {{ form_widget(form, {'attr': {'class': 'form-check-input'}}) }}
        </div>

        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block checkbox_widget %}
    <input type="checkbox"
        {{ block('widget_attributes') }}
        {% if value is defined %} value="{{ value }}"{% endif %}
        {% if checked %} checked="checked"{% endif %} />
{% endblock %}

{% block checkbox_label %}
    {{ block('form_label') }}
{% endblock %}
