{# templates/game/_modal.html.twig #}
<div class="modal fade" id="gameModal" tabindex="-1" aria-labelledby="gameModalLabel" aria-hidden="true"
     data-initial-sport="{{ initialSport ? initialSport.id : '' }}"
     data-initial-competition="{{ initialCompetition ? initialCompetition.id : '' }}"
     data-initial-event="{{ initialEvent ? initialEvent.id : '' }}">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gameModalLabel">
                    {{ game.id ? 'Edit Game Id: ' ~ game.id : 'Create Game' }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            {{ form_start(form, {
                'action': game.id ? path('game_edit', {'id': game.id}) : path('game_new')
            }) }}
            <div class="modal-body">
                <div class="mb-3 row">
                    {{ form_label(form.sport, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.sport) }}
                    </div>
                </div>
                <div class="mb-3 row">
                    {{ form_label(form.season, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.season) }}
                    </div>
                </div>
                <div class="mb-3 row">
                    {{ form_label(form.competition, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.competition, { 'attr': {'data-url': path('event_by_competition', {'competitionId': 'COMPETITION_ID'})} }) }}
                    </div>
                </div>
                <div class="mb-3 row">
                    {{ form_label(form.event, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.event) }}
                    </div>
                </div>
                <div class="mb-3 row">
                    {{ form_label(form.date, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.date) }}
                    </div>
                </div>
                <hr class="my-4">
                <h6>Game Results</h6>
                <div id="gameResultsContainer" class="mb-3">
                    <div class="game-results-list" data-prototype="{{ form_widget(form.gameResults.vars.prototype)|e('html_attr') }}" data-index="{{ form.gameResults|length }}">
                        {% for gameResult in form.gameResults %}
                            <div class="game-result-item card mb-2">
                                <div class="card-body">
                                    <div class="row g-2 align-items-end">
                                        <div class="col-md-6">
                                            {{ form_row(gameResult.team) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_row(gameResult.matchScore) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_row(gameResult.rankingScore) }}
                                        </div>
                                        <div class="col-md-2 d-flex align-items-center pb-3">
                                            <button type="button" class="btn btn-danger btn-sm remove-result">
                                                <i class="bi bi-plus-circle"></i>Remove
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-sm" id="addGameResult">
                    <i class="bi bi-plus-circle"></i> Add Result
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
