<div class="modal fade" id="teamSeasonDetailsModalContainer" tabindex="-1" aria-labelledby="teamSeasonDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teamSeasonDetailsModalLabel">
                    Game Results Details for: {{ team.name ?? '' }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-3 row">
                        <label for="sportName" class="col-sm-2 col-form-label">Sport</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext fw-bold"
                                   id="sportName" value="{{ team.sport.name }}">
                        </div>
                        <label for="teamName" class="col-sm-2 col-form-label">Team</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext fw-bold"
                                   id="teamName" value="{{ team.name }}">
                        </div>
                        <label for="seasonName" class="col-sm-2 col-form-label">Season</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext fw-bold"
                                   id="seasonName" value="{{ season.mergedStartEndYear }}">
                        </div>
                        <label for="competitionName" class="col-sm-2 col-form-label">Competition</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext fw-bold"
                                   id="competitionName" value="{{ competition.name }}">
                        </div>
                    </div>
                </div>
                <div id="season-details-body">
                    {% include 'team/_modal_season-details-table.html.twig' %}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
