{% set childColumnCount = 11 %}
<table class="table table-striped table-hover align-middle" id="gameResultTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Seasons</th>
        <th>Competition</th>
        <th>Event</th>
        <th>Our Name</th>
        <th>Our match score</th>
        <th>Opponent match score</th>
        <th>Opponent name</th>
        <th>Created At</th>
        <th>Modified At</th>
    </tr>
    </thead>
    <tbody>
    {% for gameResult in gameResults %}
        <tr>
            <td>{{ gameResult.id }}</td>
            <td>{{ gameResult.game.season.mergedStartEndYear ?? '' }}</td>
            <td>{{ gameResult.game.event.competition.name ?? '' }}</td>
            <td>{{ gameResult.game.event.name ?? '' }}</td>
            <td>{{ gameResult.team.name ?? '' }}</td>
            <td>{{ gameResult.matchScore }}</td>
            <td>{{ gameResult.opponent.matchScore ?? '' }}</td>
            <td>{{ gameResult.opponent.team.name ?? '' }}</td>
            <td>{{ gameResult.createdAt|date(DATETIME_FORMAT) }}</td>
            <td>{{ gameResult.modifiedAt|date(DATETIME_FORMAT) }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ childColumnCount }}" class="text-center text-muted">
                No game results found.
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
